name: UPDATE-ALL-PACKAGES

on:
  schedule:
    - cron:  '0 */2 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
    CHOCO_API_KEY: ${{ secrets.CHOCO_API_KEY }}
    ACTIONS_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
    PST_KEY: ${{ secrets.PST_KEY }}
    PST_SECRET: ${{ secrets.PST_SECRET }}
    PST_TOKEN: ${{ secrets.PST_TOKEN }}
    PST_TOKEN_SECRET: ${{ secrets.PST_TOKEN_SECRET }}
    TELEGRAM: ${{ secrets.TELEGRAM }}
    CHAT_ID: ${{ secrets.CHAT_ID }}

jobs:
  UPDATE-ALL:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - shell: pwsh
        name: Set choco key
        run: choco apikey --key $env:CHOCO_API_KEY --source https://push.chocolatey.org/

      - name: AUDIOMOTH-CONFIG
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./audiomoth-config/audiomoth-config.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/OpenAcousticDevices/AudioMoth-Configuration-App/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_audiomoth-config.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }

      - name: AUDIOMOTH-FLASH
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./audiomoth-flash/audiomoth-flash.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/OpenAcousticDevices/AudioMoth-Flash-App/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_audiomoth-flash.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: AUDIOMOTH-TIME
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./audiomoth-time/audiomoth-time.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/OpenAcousticDevices/AudioMoth-Time-App/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_audiomoth-time.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: AUDIOMOTH-USB
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./audiomoth-usb/audiomoth-usb.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/OpenAcousticDevices/AudioMoth-USB-Microphone-App/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_audiomoth-usb.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: CTEMPLAR
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./ctemplar/ctemplar.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/CTemplar/webclient/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_ctemplar.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: DOTBROWSER
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./dotbrowser/dotbrowser.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/dothq/browser-desktop/releases/latest" | ConvertFrom-Json)[0].tag_name
          
          $tagalpha = $tag -replace '([0-9]*\.[0-9]+)-([0-9]{4})-([0-9]{2})-([0-9]{2})', '$1.$2$3$4'
          $tagalpha = -join($tagalpha,"-alpha");
          
          echo $Version
          echo $tagalpha
          
          if ( $tagalpha -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          #if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_dotbrowser.ps1
          #} else {
          #echo 'The version number is not in the correct format'
          ##exit 1
          #}
          }
        
      - name: FIREDM
        if: always()
        run:  |
          #$Version = ([xml](Get-Content ./firedm/firedm.nuspec)).package.metadata.version
          #$tag = (Invoke-WebRequest "https://api.github.com/repos/firedm/FireDM/releases/latest" | ConvertFrom-Json)[0].tag_name         
          echo 'FireDM is unmaintained on GitHub'
          #echo $Version
          #echo $tag
          
          #if ( $tag -eq $Version )
          #{
          #echo 'Last version already exist'
          #}
          #else
          #{
          #if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          #./send_firedm.ps1
          #} else {
          #echo 'The version number is not in the correct format'
          ##exit 1
          #}
          #}
        
      - name: FLUFFYCHAT
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./fluffychat/fluffychat.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://gitlab.com/api/v4/projects/16112282/releases" | ConvertFrom-Json)[0].tag_name
          $tag = $tag -replace 'v'          
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_fluffychat.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: HOMEBANK
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./homebank/homebank.nuspec)).package.metadata.version
          Invoke-WebRequest -Uri "http://homebank.free.fr/en/downloads.php" -OutFile "HOMEBANK.html"          
          $Source = Get-Content -path HOMEBANK.html -raw
          $Source -match 'The latest <b>([0-9]+(\.[0-9]+)+) stable</b>'
          $tag = $matches[1]
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          Remove-Item HOMEBANK.html
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_homebank.ps1
          Remove-Item HOMEBANK.html
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: L0PHTCRACK
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./l0phtcrack/l0phtcrack.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://gitlab.com/api/v4/projects/28508791/releases" | ConvertFrom-Json)[0].tag_name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_l0phtcrack.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: RAVEN
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./raven/raven.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/hello-efficiency-inc/raven-reader/releases/latest" | ConvertFrom-Json)[0].name
          $tag = $tag -replace 'v'
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_raven.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: SENGI
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./sengi/sengi.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/NicolasConstant/sengi/releases/latest" | ConvertFrom-Json)[0].tag_name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_sengi.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: TARTUBE
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./tartube/tartube.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/axcore/tartube/releases/latest" | ConvertFrom-Json)[0].tag_name
          $tag = $tag -replace 'v'
          $name = (Invoke-WebRequest "https://api.github.com/repos/axcore/tartube/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          if ( $name -eq "Stable release" ) {
          ./send_tartube.ps1
          } else { echo 'Not a stable version' }
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: TUTANOTA
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./tutanota/tutanota.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/tutao/tutanota/releases/latest" | ConvertFrom-Json)[0].name
          $tag = $tag -replace ' \(Desktop\)'
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_tutanota.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: MENDELEY-RM
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./mendeley-reference-manager/mendeley-reference-manager.nuspec)).package.metadata.version
          Invoke-WebRequest -Uri "https://www.mendeley.com/release-notes-reference-manager/" -OutFile "MRM.html"
          $Source = Get-Content -path MRM.html -raw
          $Source -match 'https://static.mendeley.com/md-stitch/releases/live/release-notes-reference-manager.([a-z\d]*).js'
          $Sourceurl = $matches[1]
          
          Invoke-WebRequest -Uri "https://static.mendeley.com/md-stitch/releases/live/release-notes-reference-manager.$Sourceurl.js" -OutFile "MRM.txt"
          $Source = Get-Content -path MRM.txt -raw
          $Source -match 'page:new URL\([a-z]\),path:"/v([0-9]+(\.[0-9]+)+)"'
          $tag = $matches[1]
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          Remove-Item MRM.txt
          Remove-Item MRM.html
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_mendeley-reference-manager.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
        
      - name: OPEN-VIDEO-DOWNLOADER
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./open-video-downloader/open-video-downloader.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/jely2002/youtube-dl-gui/releases/latest" | ConvertFrom-Json)[0].name
          $tag = $tag -replace 'v'
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_open-video-downloader.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }

      - name: DOTDOTGOOSE
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./dotdotgoose/dotdotgoose.nuspec)).package.metadata.version
          Invoke-WebRequest -Uri "https://biodiversityinformatics.amnh.org/open_source/dotdotgoose/index.html" -OutFile "DDG.html"
          $Source = Get-Content -path DDG.html
          $Source -match '<ul class="local-list"> <li>[0-9]{4}-[0-9]{2}-[0-9]{2} - version ([0-9]+(\.[0-9]+)+) '
          $tag = $matches[1]
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          Remove-Item DDG.html
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_dotdotgoose.ps1
          Remove-Item DDG.html
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }

      - name: FILEN
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./filen/filen.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/FilenCloudDienste/filen-desktop/releases/latest" | ConvertFrom-Json)[0].name
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_filen.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }
          
      - name: AFFINE-CLIENT
        if: always()
        run:  |
          $Version = ([xml](Get-Content ./affine-client/affine-client.nuspec)).package.metadata.version
          $tag = (Invoke-WebRequest "https://api.github.com/repos/m1911star/affine-client/releases/latest" | ConvertFrom-Json)[0].name
          $tag = $tag -replace 'Affine Client v'
          
          echo $Version
          echo $tag
          
          if ( $tag -eq $Version )
          {
          echo 'Last version already exist'
          }
          else
          {
          if ($tag -match '^[0-9]+.[0-9]+.[0-9]+$'){
          ./send_affine-client.ps1
          } else {
          echo 'The version number is not in the correct format'
          #exit 1
          }
          }